
.market_indicator {
    position: absolute;
    margin-left: 54em;
    margin-top: 56em;
  }

  .example-container {
    width: 100%;
    height: 100%;
  }

  .container-drawer {
    width: 10em;
  }