<app-toolbar>
    <div class="center_toolbar">
        <input type="text" placeholder="Rechercher une ville...">
      </div>
</app-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="container-drawer" mode="over" opened>
        <single-market title="titre" address="5 Avenue d'Italie 6300 Clermont-Ferrand" horaires="Lundi 8h-12h30" />
        <mat-divider />
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <img style=" position: absolute;" src="../assets/images/france_map.png">
            <button (click)="drawer.toggle()" mat-mini-fab class="market_indicator">
                <span>5</span>
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>