.new-content-right {
    position: absolute;
    top: 2.5%;
    right: 0%;
    transform: translate(-50%, -50%);
}
.new-content-center {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}