<app-toolbar [type]="'right'">
    <div style="left: 100%;">
        <button mat-raised-button color="accent">Espace Professionnel</button>
        <button mat-raised-button color="accent" [routerLink]="['client/mon-espace']">Espace Client</button>
    </div>
</app-toolbar>

<div class="image">
    <img src="../../assets/images/black.jpg" />
    <mat-form-field class="input">
        <mat-label>Rechercher une ville...</mat-label>
        <input matInput type="text" [(ngModel)]="city">
        <button matSuffix mat-icon-button [routerLink]="['/map', city]">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <button [routerLink]="['/map']" class="button" mat-raised-button color="primary">Ou chercher dans toute la France...</button>
</div>